ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
body {
    background-color: #333;
  }
  
  h1 {
    color: rgb(0, 255, 30);
    text-align: center;
  }
  h2 {
  color: rgb(0, 255, 30);
  text-align: left;
  }
  p {
    color: rgb(0, 255, 30);
    text-align: left;
    
  }
  img { 
    display: block;
    margin-left: 540px;
    margin-right: auto;
    width: 30%;
  }